name: data
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/flat.yml
      - ./.github/workflows/process-weather.ts
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.10.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://api.openweathermap.org/data/2.5/forecast/daily?lat=-0.1635658&lon=50.8516621&cnt=16&appid=${{ secrets.APIKEY }}
          postprocess: ./.github/workflows/process-weather.ts
          downloaded_filename: data.json
          mask: '["${{ secrets.APIKEY }}"]
